body {
  font-family: 'Briem Hand', sans-serif;
  background-image: url(images/bg4.jpg);background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  }


h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 0 #a9a9a9;
  color: #444;
}
.button{
  font-size:1.5rem;
  color:blanchedalmond;

}
.bin{
  color:antiquewhite;
  font-weight: bold;

}
.back{
  background-color:blanchedalmond;
  color:#444;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 20px;
  left: 0%;
  position: absolute;
  top: 0%;
}
#computer-el{
  background-color:blanchedalmond;
  color:#444;
  font-weight:bold;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;

}

.cell {
  background: blanchedalmond;
  border: 1px solid #000;
  box-shadow: 2px 2px 4px #000;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  transition: background 0.3s;
  cursor: pointer;
}

.cell:hover {
  background: #e0e0e0;
}

button {
  background: #007BFF;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}

.winning-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.winning-message.show {
  opacity: 1;
  visibility: visible;
}

.winning-message-text {
  font-size: 2em;
  color: white;
}

.winning-message[aria-hidden="false"] {
  display: flex;
}

.winning-message > div {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.winning-message{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
/* footer {
  position: fixed;
  padding: 5px;
  bottom: 0;
  width: 100%;
  background-color: #333; 
  color: white; 
  
  display: flex;
  flex-direction: row;
  align-items: center; 
  font-size: 14px;
} */

@media (max-width: 600px) { 
  footer {
    flex-direction: column; 
    text-align: center; 
  }
}

